.split-vertical, .split-horizontal {
  display: flex;
  height: 100vh; /* Full vertical height */
}

.split-horizontal {
  height: auto; /* Auto-adjusts based on vertical split */
}

.window {
  overflow: auto; /* Allows scrolling within each panel */
  padding: 10px;
  background-color: #f0f0f0;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}